name: Build README

on:
  schedule:
    - cron: '0 12 * * *'  # Chaque jour à midi UTC (ajuste selon ton fuseau horaire)

  workflow_dispatch:  # Ajoute le déclencheur manuel
    inputs:
      reason: "Manually triggered build"

  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12  # Choisis la version de Node.js que tu veux utiliser

      - run: npm install
      - run: npm run build --if-present
      - run: npm test
        env:
          CI: true

      - name: Update README with Joke
        run: node updateReadme.js
